.card {
	background: rgba(169, 176, 168, 0.815);
	width: 50vw;
	height: 55vh;
	margin-top: 30px;
	border-radius: 15px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h3 {
		font-size: 1.4rem;
		margin: 10px;
	}
	a {
		&:hover {
			cursor: pointer;
		}
	}
}

.name {
	font-size: 2rem;
	margin: 10px;
}

.link-return {
	border: 1px solid black;
	border-radius: 15px;
	width: 30vw;
	height: 30px;
	font-size: 1.8rem;
	padding: 20px;
	text-decoration: none;
}

@media only screen and (max-width: 615px) {
	.card {
		margin-top: 5px;
		h3 {
			font-size: 1.1rem;
			margin: 8px;
		}
	}
	
	.link-return {
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 490px) {
	.card {
		h3 {
			font-size: 1rem;
		}
	}
}	

